.app_main {
  background-color: #f6f9fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 150px;
}

.app_main .section {
  min-height: 500px;
  width: 100%;
  padding: 30px 20px 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1160px) {
  .app_main .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.app_main .section .section_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.app_main .section .section_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 0 0 40px;
}

.app_main .section .box_description {
  max-width: 600px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1160px) {
  .app_main .section .box_description h2 {
    text-align: center;
  }
  .app_main .section .box_description .button_action {
    margin: 0 auto;
  }
}

.app_main .section .box_description h2 {
  font-size: 35px;
  margin: 0 0 20px;
  font-weight: 400;
  font-family: Ubuntu,Helvetica,Arial,sans-serif;
  color: #02203c;
  line-height: 1.3;
}

.app_main .section .box_description p {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  margin: 0 0 20px;
  line-height: 1.7;
  color: #445d6e;
}

.app_main .section .box_description .button_action {
  width: 10rem;
}

.app_main .section.dark {
  background-color: #02203c;
  color: #fff;
}

@media (max-width: 1160px) {
  .app_main .section.dark .section_left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .app_main .section.dark .section_right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.app_main .section.dark .box_description h2 {
  font-size: 35px;
  margin: 0 0 20px;
  font-weight: 400;
  font-family: Ubuntu,Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 1.3;
}

.app_main .section.dark .box_description p {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  margin: 0 0 20px;
  line-height: 1.7;
  color: #bdc5ca;
}

.app_main .section.dark .box_description .button_action {
  width: 10rem;
}

.app_main #design_thinking .cards {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 400px;
}

.app_main #design_thinking .cards .box_card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

@media (max-width: 768px) {
  .app_main #design_thinking .cards .box_card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.app_main #design_thinking .cards .box_card .card {
  padding-top: 1rem;
  font-size: 6rem;
  color: #fff;
  background-color: #02203c;
  height: 130px;
  width: 150px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 27.5px 40px -17.5px rgba(0, 0, 0, 0.4), -46.2px 37.5px 40px -17.5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 27.5px 40px -17.5px rgba(0, 0, 0, 0.4), -46.2px 37.5px 40px -17.5px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate3d(0.5, 0.866, 0, 15deg) rotate(-2deg);
          transform: rotate3d(0.5, 0.866, 0, 15deg) rotate(-2deg);
}

.app_main #opensource .box_icons {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 12rem;
  color: #02203c;
}

.app_main #opensource .box_icons > div {
  margin-right: 2rem;
}

.app_main #collaboration .box_icons {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 12rem;
  color: #fff;
}

.app_main #collaboration .box_icons > div {
  margin-right: 2rem;
}

.app_main #platform .box_image {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1160px) {
  .app_main #platform .box_image h2 {
    text-align: center;
  }
  .app_main #platform .box_image .button_action {
    margin: 0 auto;
  }
}

.app_main #platform .box_image img {
  width: 80%;
}
/*# sourceMappingURL=home.css.map */