html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  /* for vertical scrollbars */
  height: 10px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
}

.app {
  width: 100%;
  background-color: #fefefe;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: #819dbd;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 10px 30px;
  margin: 3px 0 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  border: none;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.button:hover {
  opacity: 0.5;
}

.button_action {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  background-color: #819dbd;
  height: 50px;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 40px;
  color: #fff;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}

.button_action:focus {
  outline: 0;
}

.button_action:hover {
  opacity: 0.5;
}

.tab_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #000;
  z-index: 9040;
}

.tab_menu_overlay.active {
  width: 100%;
  opacity: .5;
}

.tab_menu {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #02203c;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
  overflow-y: auto;
  z-index: 9040;
  -webkit-transition: -webkit-transform 300ms ease 0s;
  transition: -webkit-transform 300ms ease 0s;
  transition: transform 300ms ease 0s;
  transition: transform 300ms ease 0s, -webkit-transform 300ms ease 0s;
  opacity: 0;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.tab_menu.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.tab_menu .close_button {
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  margin: 10px 10px 10px auto;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  line-height: 28.5px;
  text-align: center;
  font-size: 24px;
}

.tab_menu .box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tab_menu .box_title .logo {
  height: 40px;
  margin: 20px;
}

.tab_menu .box_title .title {
  font-family: Jura,Helvetica,Arial,sans-serif;
  color: #fff;
  margin: 0;
  font-size: 36px;
  line-height: 1;
}

.tab_menu ul.list {
  margin: 0;
  padding: 0;
}

.tab_menu ul.list li {
  text-decoration: none;
}

.tab_menu ul.list a {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  display: block;
  width: 100%;
  padding: 20px;
  border: none;
  color: #fff;
  background-color: transparent;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab_menu ul.list a:hover {
  background-color: #15314b;
}

.app_header {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #001528), to(#103f6b));
  background: linear-gradient(90deg, #001528 30%, #103f6b);
  position: relative;
  min-height: 540px;
  padding: 0 0 60px;
  color: #02203c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app_header > .header {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1160px) {
  .app_header > .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.app_header > .header .menu_button {
  margin: 20px;
  color: #fff;
  font-size: 2rem;
  display: none;
}

.app_header > .header .menu_button span {
  cursor: pointer;
}

@media (max-width: 1160px) {
  .app_header > .header .menu_button {
    display: block;
  }
}

.app_header > .header .box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app_header > .header .logo {
  height: 40px;
  margin: 20px;
}

.app_header > .header .title {
  font-family: Jura,Helvetica,Arial,sans-serif;
  color: #fff;
  margin: 0;
  font-size: 36px;
  line-height: 1;
}

.app_header > .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 80px 0;
}

@media (max-width: 1160px) {
  .app_header > .header .menu {
    display: none;
  }
}

.app_header > .header .menu .menu_item {
  display: inline;
  position: relative;
  margin: 0 30px 0 0;
}

.app_header > .header .menu .menu_item a {
  display: inline-block;
  color: #fff !important;
  font-size: 14px;
  text-decoration: none !important;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  padding: 0;
  background-color: transparent;
  border: none;
}

.app_header > .header .menu .menu_item a:after {
  display: block;
  content: "";
  border-bottom: 3px solid #819dbd;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.app_header > .header .menu .menu_item a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.app_header > .header .box_login {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 250px;
  text-align: center;
}

.app_header > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 320px;
  /*
        * Panel Design Thinking
        */
}

.app_header > .content > .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 20px;
}

@media (max-width: 768px) {
  .app_header > .content > .col1 {
    padding: 0 20px;
  }
}

.app_header > .content > .col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  padding: 0 0 0 50px;
}

@media (max-width: 768px) {
  .app_header > .content > .col2 {
    display: none;
  }
}

@media (max-width: 1400px) {
  .app_header > .content > .col1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
  .app_header > .content > .col2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
}

.app_header > .content .disclaimer {
  max-width: 500px;
  width: 100%;
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  .app_header > .content .disclaimer {
    text-align: center;
    margin: 0 auto;
  }
}

.app_header > .content .disclaimer h1 {
  color: #fff;
  margin: 0 0 20px;
  font-size: 38px;
}

.app_header > .content .disclaimer p {
  font-size: 20px;
  color: #fff;
  margin: 0 0 30px;
}

.app_header > .content .box_panel {
  position: absolute;
  width: 100%;
  height: 730px;
  overflow: hidden;
  top: -50px;
  left: 0;
  padding: 50px 0 0 50px;
}

.app_header > .content .box_panel .outer_panel {
  position: relative;
  width: 600px;
  -webkit-perspective: 700px;
          perspective: 700px;
  height: 500px;
  margin: 50px 0 0 50px;
}

.app_header > .content .box_panel .outer_panel .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(-1deg);
          transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(-1deg);
  border-radius: 4px;
  position: relative;
}

.app_header > .content .box_panel .outer_panel .panel .cell {
  width: calc(33.333333% - 15px);
  margin: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.app_header > .content .box_panel .outer_panel .panel .cell_arrow img {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 6rem;
  height: 6rem;
}

.app_header > .content .box_panel .outer_panel .panel .cell_arrow img.rotate90 {
  bottom: 1rem;
  left: 1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.app_header > .content .box_panel .outer_panel .panel .cell_arrow img.rotate180 {
  top: 1rem;
  left: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.app_header > .content .box_panel .outer_panel .panel .cell_arrow img.rotate270 {
  top: 1rem;
  right: 1rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.app_header > .content .box_panel .outer_panel .panel .cell_window {
  border-radius: 4px;
  -webkit-box-shadow: 0 27.5px 40px -17.5px rgba(0, 0, 0, 0.4), 46.2px 37.5px 40px -17.5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 27.5px 40px -17.5px rgba(0, 0, 0, 0.4), 46.2px 37.5px 40px -17.5px rgba(0, 0, 0, 0.4);
  background-color: #02203c;
  outline: 1px solid transparent;
  border: 2px solid #15314b;
}

.app_header > .content .box_panel .outer_panel .panel .window_header {
  background-color: #15314b;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 2;
  border-bottom: 2px solid #15314b;
}

.app_header > .content .box_panel .outer_panel .panel .window_header span {
  margin: 0 0 0 10px;
  color: #fff;
}

.app_header > .content .box_panel .outer_panel .panel .window_main {
  padding: 10px;
  overflow: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 1;
}

.app_header > .content .box_panel .outer_panel .panel .postit {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #78c078;
  padding: 3px;
}

.app_header > .content .box_panel .outer_panel .panel .post_text {
  background-color: #1f384e;
  width: 0;
  width: 2rem;
  height: 4px;
  border-radius: 4px;
  margin: 0 0 4px;
}

.app_header > .content .box_panel .outer_panel .panel .postit2 {
  top: 2rem;
  left: 4rem;
  background-color: #f6b439;
}

.app_header > .content .box_panel .outer_panel .panel .postit3 {
  top: 1rem;
  left: 6rem;
  background-color: #eceb9d;
}

.app_header > .content .box_panel .outer_panel .panel .face_smile {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #3f8854;
}

.app_header > .content .box_panel .outer_panel .panel .face_sad {
  position: absolute;
  top: 1rem;
  left: 3rem;
  font-size: 2rem;
  color: #c54242;
}

.app_header > .content .box_panel .outer_panel .panel .prototype .box_wheel {
  position: absolute;
  top: 1.5rem;
  left: 3.5rem;
  font-size: 4rem;
  color: #1f384e;
  height: 4.1rem;
}

.app_header > .content .box_panel .outer_panel .panel .prototype .rotating {
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.app_header > .content .box_panel .outer_panel .panel .ideate .box_light {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  font-size: 4rem;
  color: #1f384e;
  height: 4.1rem;
}

.app_header > .content .box_panel .outer_panel .panel .lighton {
  -webkit-animation: lighton 4s linear infinite;
          animation: lighton 4s linear infinite;
}

@-webkit-keyframes lighton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lighton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app_footer {
  background-color: #001528;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  color: #fff;
  border-top: 0px solid #103f6b;
}

.app_footer .line {
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}

.app_footer .section {
  opacity: 0.5;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app_footer .section .box_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app_footer .section .col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.app_footer .section .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}

.app_footer .section .box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
  opacity: 0.5;
}

.app_footer .section .box_title .title {
  font-family: Jura,Helvetica,Arial,sans-serif;
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}

.app_footer .section .box_title .logo {
  width: 5rem;
  margin: 1rem;
}

.app_footer .section .list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app_footer .section .list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.app_footer .section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app_footer .section .subtitle {
  font-weight: 700;
  font-size: 1rem;
}

.app_footer .section li {
  line-height: 2rem;
}

.app_footer .box_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
}

.app_footer .box_social .social {
  opacity: 0.5;
  margin: 0 3rem 0 0;
  cursor: pointer;
}

.app_footer .box_social .social a {
  text-decoration: none;
  color: inherit;
}

.app_footer .copyright {
  color: #fff;
  opacity: 0.5;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */