html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  /* for vertical scrollbars */
  height: 10px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
}

.app {
  width: 100%;
  background-color: #fefefe;
}

.top-banner {
  background: -webkit-gradient(linear, right top, left top, color-stop(30%, #02203c), color-stop(90%, #001528));
  background: linear-gradient(-90deg, #02203c 30%, #001528 90%);
  position: relative;
  min-height: 540px;
  padding: 0 0 60px;
  color: #02203c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-banner .header {
  border: 1px solid #f2f2f2;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-banner .header .box_title {
  border: 1px solid pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-banner .header .logo {
  height: 40px;
  margin: 20px;
}

.top-banner .header .title {
  font-family: Jura,Helvetica,Arial,sans-serif;
  color: #fff;
  margin: 0;
  font-size: 36px;
  line-height: 1;
}

.top-banner .header .menu {
  border: 1px solid pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 80px 0;
}

.top-banner .header .menu .menu_item {
  display: inline;
  position: relative;
  margin: 0 30px 0 0;
}

.top-banner .header .menu .menu_item a {
  display: inline-block;
  color: #fff !important;
  font-size: 14px;
  text-decoration: none !important;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  padding: 0;
  background-color: transparent;
  border: none;
}

.top-banner .header .menu .menu_item a:after {
  display: block;
  content: "";
  border-bottom: 1px solid #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.top-banner .header .menu .menu_item a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.top-banner .header .box_login {
  border: 1px solid pink;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 250px;
  text-align: center;
}

.top-banner .header .box_login .button {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  background-color: transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  margin: 3px 0 0;
  border: 2px solid transparent;
  -webkit-transition: border .2s;
  transition: border .2s;
}

.top-banner .header .box_login .button:hover {
  border: 2px solid #626ee3;
}

.main {
  background-color: #fefefe;
  height: 40rem;
}

.footer {
  background-color: #001528;
  height: 30rem;
}
/*# sourceMappingURL=style.css.map */