.ts_view__notfound {


    .app_header {
        // border: 1px solid orange;

        min-height: auto;
        height: 240px;

        & > .content {

            // .disclaimer {
            //     margin: 0 auto;
            // }

            .content_left {
                // flex: 1 1 100%;
                display: none;
            }
        
            .content_right {
                display: none;
            }

        }
        
    }

    .app_main {

        // background-color: #fff;
        background-color: #f6f9fc;
        // affinche si estenda a tutto il suo contenuto
        // border: 0px solid transparent;
        display: flex;
        flex-flow: column;

        // perchè ci sia spazio per l'immagine in alto
        // padding-top: 150px;

    }


    .notfound {

        min-height: 500px;


        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        

        h1 {
            color: #02203c;
            font-size: 12rem;
            @media (max-width: 576px) {                
                font-size: 6rem;
            } 
        }
        h2 {
            color: #02203c;
            text-align: center;
            font-size: 6rem;
            @media (max-width: 576px) {
                font-size: 3rem;
            } 
        }

    }

}
