// @import '../../style/variables';


.app_header {
    height: 7rem;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    // background-color: #fefefe; 
    background-color: #161616; 
    color: #ffffff;
    // opacity: 0.95;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border-bottom: solid .3rem #eeeeee;

    @media screen and (max-width: 768px) {  
        height: 8rem;
    }
    
    .box_logo {
        float: left;
        height: 4rem;
        img {
            height: 100%;
            cursor: pointer;
        }
    }

}


.app_header__menu {
    height: 100%;
    position: relative;
    z-index: 2;

    // .app_header__counter{
    //     min-width: 1.8rem;
    //     height: 1.8rem;
    //     border-radius: 50%;
    //     background-color: orange;
    //     color: white;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     position: absolute;
    //     right: 50%;
    //     top: 50%;
    //     font-weight: 400;
    //     font-size: 1.2rem;
    //     transform: translate(150%,-150%);
    // }

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    @media screen and (max-width: 768px) {  
        float: none; 
        width: 100%;
        
        ul {
            margin-top: 4rem; 
        }
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        list-style: none;
        color: #f2f2f2;
        font-weight: 700;
        font-size: 1rem;        
        cursor: pointer;
        transition: 0.5s;
        padding: .8rem 2.2rem;
        position: relative;

        // &:hover,
        &.active {
            color: #999;
        }

        &::after {
            position: absolute;
            bottom: 0rem;
            left: 0;
            content: ' ';
            width: 100%;
            height: .3rem;
            background-color: #f2f2f2;
            transition: 0.7s;
            opacity: 0;
            z-index: 3;
        }
        
        &:hover::after,
        &.active::after {
            // width: 100%;
            opacity: 1;
        }

        i{
            font-size: 2rem;
        }

    }
}


.app_main {

    margin-top: 7rem; 

    width: 100%;
    height: calc(100% - 7rem);
    position: relative;
    overflow: hidden;
    background-color: #fefefe;
    
    @media screen and (max-width: 768px) {  
        margin-top: 8rem; 
    }
    
}


// ##TODO
$footer_color: #161616;
.app_footer {
    width: 100%;
    border-top: solid .3rem #eeeeee;
    color: $footer_color;
    padding: 5rem 7rem;

    .box_appstores, .box_social, .box_menu {
        a {
            color: $footer_color;
            text-decoration: none;
            transition: .5s;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    
    .box_social_item{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: solid 1px #999;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        cursor: pointer;
        transition: .5s opacity;

        &:hover{
            opacity: .5;
        }

        i{
            font-size: 1.3rem;
        }
    }

    .box_logo {

        img {
            width: 10rem;
            cursor: pointer;
        }
    }
    // @media screen and (max-width: 480px) {   
    //     .box_logo {     
    //         font-size: 4rem;
    //     }
    // }

    .box_menu {
        .menu_item {
            font-size: 1.3rem;
            padding: 1rem 0;
            cursor: pointer;
            transition: .5s;
            text-transform: uppercase;
            letter-spacing: .1em;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .box_appstores {
        padding: 4rem 0;
        text-align: center;

        .app_icon {
            font-size: 4rem;
            margin: 1.5rem;
            cursor: pointer;
        }
    }

    .box_social {
        margin-top: 2rem;

    }
    @media screen and (max-width: 480px) {   
        .box_social {     
            span {
                font-size: 1.4rem;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }

    .box_copyright {
        margin-top: 3rem;
        font-size: 1.3rem;
        color: #999;
    }

    
}

