@mixin arrow($width, $height, $color, $hovercolor: $color) {
    width: 0; 
    height: 0;
    border-top: $height solid transparent;
    border-bottom: $height solid transparent;
    border-left: $width solid $color;
    transition-duration: .2s;
    &:hover {
        border-left: $width solid $hovercolor;
    }
    &.arrow-right {
        transform: rotate(0deg);
    }
    &.arrow-left {
        transform: rotate(180deg);
    }
    &.arrow-up {
        transform: rotate(90deg);
    }
    &.arrow-down {
        transform: rotate(270deg);
    }
}




.ts_treeview {

    height: 100%;
    
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
    }
    
    .box_node {

        cursor: pointer;
        
        .node {
            transition-duration: .5s;
            position: relative;
            // overflow-x: visible;
            // border-bottom: 1px solid #ddd;

            &.selected > .box_text {
                background-color: #ededed;
            }

        }
  
        .node_childs {
            height: 0;
            transition-duration: .5s;
            // overflow-y: hidden;
            // overflow-x: visible;

            &.expanded {
                height: auto;
            }
        }

    }


    .box_arrow {
        // border: 1px solid purple;
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
                
        .arrow {
            @include arrow(.4rem, .4rem, #ddd)
        }

    }


    
    .box_text {
        // border: 1px solid purple;
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fefefe;
        // box-shadow: 0.1rem 0.1rem 0.01rem 0.01rem rgba(0,0,0,.5);

        .text {
            padding: .5rem * 1.1;
            line-height: 200%;
        }

        &:hover {
            background-color: #eee;
            color: #333;
        }
  
    }


    // .box_node .box_text {
    //     margin-left: 1rem;
    // }
  
    .box_node .box_node .box_text {
        margin-left: 1rem;
    }
  
    .box_node .box_node .box_node .box_text {
        margin-left: 2rem;
    }
  
    .box_node .box_node .box_node .box_node .box_text {
        margin-left: 3rem;
    }











}