
.ui_modal_confirm,
.ui_modal_alert {

    font-family: Open Sans,Helvetica,Arial,sans-serif;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    

    background-color: #fefefe;
    // border: 5px solid #819dbd;
    // background-color: #15314b;;

    max-width: 80vw;
    max-height: 80vh;
    min-width: 20rem;
    min-height: 15rem;
    border-radius: 5px;
    
    font-size: 1rem;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    
    z-index: 3;
    
    

    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .content {

        // border: 1px solid orange;
        font-size: 1.4rem;
        // letter-spacing: .05rem;
        margin: 2rem 0;
    }

    .controls {
        // border: 1px solid orange;
        display: flex;
        justify-content: center;

    }

    .ui_button{
        margin: 1rem 1rem 0 0;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        color: white;
        background-color: #333;
        border-radius: .4rem;
        width: auto;
        display: inline-block;
        cursor: pointer;
        transition: .3s opacity;

        &:hover{
            opacity: .5;
        }
    }


    .button {
        
        &:first-child {
            margin-right: 10px;
        }
        
        font-family: Open Sans,Helvetica,Arial,sans-serif;
        
        background-color: #819dbd;
        color: #fff;
        border-radius: 4px;
        // padding: 10px 30px;
        // margin: 3px 0 0;
        
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    
        // transition: background-color .2s, padding .4s, box-shadow .2s, border .2s, opacity .2s;
        transition: opacity .2s;
        border: none;
        cursor: pointer;
    
        font-size: 14px;
        padding: 0 30px;
        height: 40px;
    
        &.small {
            height: 30px;
            font-size: 12px;
            padding: 0 20px;
        }
    
        &.big {
            height: 50px;
            font-size: 18px;
            padding: 0 40px;
        }
    
        &.transparent {
            background-color: transparent;
            border: 1px solid #101111;
        }
        &.disabled {
            opacity: 0.1;;
        }
    
        &:focus {
            outline:0;
        }
        &:hover {
            opacity: 0.5;
        }
    
    }

}