
$light1: #f2f2f2;

$dark0: #dddddd;
$dark1: #cfcfcf;
$dark2: #999999;
$dark3: #333333;
$dark4: #111111;


$color1: #0062AA;
$color2: #C2E0FF;
$color3: #F59F15;
$color4: #454f60;



$font1: 1.4rem;
$font2: 1.6rem;
$font3: 2rem;
$font4: 2.6rem;
$font5: 4rem;


$speed: .3s;